
a {
    color: black;
    
  }

  p {
    color: blueviolet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
   
  }

  body {
    background-color: blanchedalmond;
  }